form {
   display: flex;
   flex-direction: column;
}

#links {
   width: 100%;
   display: flex;
   justify-content: space-between;
   margin-bottom: 1.4rem;
}

#button-container {
   max-width: 5rem;
}

@media(min-width: 400px) {
   mat-card {
      min-width: 30rem;
   }
}