<app-frame [subtitle]="'Nova senha'">
    <form [formGroup]="passwordForm" action="" >
        <mat-form-field appearance="outline">
            <mat-label>Senha</mat-label>
            <input matInput type="password" formControlName="password">
            <mat-error *ngIf="passwordForm.get('password')?.hasError('minlength') 
                || passwordForm.get('password')?.hasError('maxlength')">
                A senha deve possuir entre 6 e 15 caracteres.
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Confirmação de senha</mat-label>
            <input matInput type="password" formControlName="passwordConfirmation">
            <mat-error *ngIf="this.passwordForm.get('passwordConfirmation')?.hasError('passwordMismatch')">
                Deve ser igual à senha digitada.
            </mat-error>
        </mat-form-field>
    </form>
    <app-button-with-loading 
        [isDisabled]="!passwordForm.valid || isLoading"
        [isLoading]="isLoading"
        [text]="'Trocar senha'"
    />
</app-frame>
