.bg-medicos {
    background-image: url('../../../../assets/imgs/bg-medicos.png'); /* Substitua pelo caminho da sua imagem */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; /* Garante que a imagem preencha toda a tela */
    height: 90vh; /* Define a altura do corpo para 100% da altura da tela */
    margin: 0; /* Remove margens externas */

}
  

@media (min-width: 768px) {
    .container {
       padding: 20px;
       margin: auto;
    }
  }

  /* Para telas grandes (desktops) */
  @media (min-width: 1024px) {
    .container {
       padding: 30px 90px 30px 90px;
       margin: auto;
    }
  }

  .p-20 {
    padding: 20px;
 }

 mat-form-field {
    width: 100%; /* Garante que cada campo ocupe todo o espaço disponível */
  }

  mat-card {
    width: 50%;
}

.mb-5{
    margin-bottom: 5px;
}

.description {
    font-family: sans-serif;
    color: #787878;
}