<app-frame [subtitle]="'Nova senha'">
    <form action="" >
        <mat-form-field appearance="outline">
            <mat-label>Senha</mat-label>
            <input matInput type="email" formControlName="email" required="false">
            <mat-error >
                Digite um email válido
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Confirmação de senha</mat-label>
            <input matInput type="email" formControlName="email" required="false">
            <mat-error>
                Digite um email válido
            </mat-error>
        </mat-form-field>
    </form>
    <app-button-with-loading 
        [text]="'Trocar senha'"
    />
</app-frame>
