<div class="container">
    <mat-card class="p-20">
      <div id="frame-header">
        <h1 class="centered-text">UNI CLIN</h1>
        <h2 class="centered-text">cadastre-se</h2>
    </div>
  
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h4 class="title">Dados pessoais</h4>
        <hr />
        <div class="row">
          <div class="col-12">
            <mat-form-field appearance="outline">
              <mat-label>Nome Completo</mat-label>
              <input matInput formControlName="nomeCompleto" required />
              <mat-error *ngIf="form.get('nomeCompleto')?.invalid"
                >Campo obrigatório</mat-error
              >
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <mat-form-field appearance="outline">
              <mat-label>Data de Nascimento</mat-label>
              <input
                matInput
                [matDatepicker]="picker"
                formControlName="dataNascimento"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field appearance="outline">
              <mat-label>Sexo</mat-label>
              <mat-select formControlName="sexo">
                <mat-option value="masculino">Masculino</mat-option>
                <mat-option value="feminino">Feminino</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field appearance="outline">
              <mat-label>CPF</mat-label>
              <input matInput formControlName="cpf" required />
              <mat-error *ngIf="form.get('cpf')?.invalid">CPF inválido</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row" *ngIf="form.get('dataNascimento')?.value && menorDeIdade(form.get('dataNascimento')?.value)">
          <div class="col-8">
            <mat-form-field appearance="outline">
              <mat-label>Responsável</mat-label>
              <input matInput formControlName="responsavel" />
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field appearance="outline">
              <mat-label>Parentesco</mat-label>
              <mat-select formControlName="parentesco">
                <mat-option value="pai">Pai</mat-option>
                <mat-option value="mãe">Mãe</mat-option>
                <mat-option value="outro">Outro</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" required />
              <mat-error *ngIf="form.get('email')?.invalid"
                >Email inválido</mat-error
              >
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field appearance="outline">
              <mat-label>Telefone</mat-label>
              <input matInput formControlName="telefone" required />
              <mat-error *ngIf="form.get('telefone')?.invalid"
                >Telefone inválido</mat-error
              >
            </mat-form-field>
          </div>
        </div>
  
        <h4 class="title">Endereço</h4>
        <hr />
        <!-- FORMULÁRIO DE ENDEREÇO -->
        <app-address [form]="form"></app-address>
        <!-- FIM DO FORMULÁRIO DE ENDEREÇO / -->
  
        <h4 class="title">Autenticação</h4>
        <hr />
  
        <div class="row">
          <div class="col-6">
            <mat-form-field appearance="outline">
              <mat-label>Senha</mat-label>
              <input matInput formControlName="senha" required />
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field appearance="outline">
              <mat-label>Confirmar senha</mat-label>
              <input matInput formControlName="senha" required />
            </mat-form-field>
          </div>
        </div>
        <div id="links">
          <a routerLink="/auth/login">Já possui cadastro?</a>
      </div>
        <button class="f-right" type="submit" mat-raised-button color="primary">
          Cadastrar
        </button>
      </form>
    </mat-card>
  </div>
  