.container {
    padding: 20px;
    margin: auto;
 }
 
 .p-20 {
    padding: 20px;
 }
 
  mat-form-field + mat-form-field {
    margin-left: 15px;
  }
 
  .form-container {
    display: grid;
    grid-template-columns: 8fr 4fr; /* Nome ocupa 8 partes, CPF ocupa 4 partes */
    gap: 16px; /* Espaço entre os campos */
  }
  
  mat-form-field {
    width: 100%; /* Garante que cada campo ocupe todo o espaço disponível */
  }
 
 .title-card{
    margin: auto;
    text-align: center;
 
    h3 {
       margin-bottom: 0;
       color: #3F51B5;
    }
 
    span {
       margin-bottom: 10px;
    }
 } 
 
 hr{
    margin-bottom: 10px;
 }
 
 .title{
    color: #7c7c7c;;
 }
 
 @media (min-width: 768px) {
    .container {
       padding: 20px;
       margin: auto;
    }
  }
  
  /* Para telas grandes (desktops) */
  @media (min-width: 1024px) {
    .container {
       padding: 30px 90px 30px 90px;
       margin: auto;
    }
  }
  
  #frame-header {
    width: 100%;
    margin: 1rem 0;
}

.centered-text {
    width: 100%;
    text-align: center;
}

h1 {
    font-weight: bold;
    color: #1565C0;
    margin-bottom: 0;
}