form {
    display: flex;
    flex-direction: column;
}

.send-button {
    width: 100%;
    margin-bottom: 1rem;
}

#countdown-message {
    font-weight: bold;
    color: gray;
}

#countdown-message span {
    color: #1565C0;
}