<app-frame [subtitle]="'Redefinir senha'">
    <form action="" [formGroup]="form">
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email" required="false">
            <mat-error *ngIf="form.get('email')?.hasError('email')">
                Digite um email válido
            </mat-error>
        </mat-form-field>
    </form>
    <p id="countdown-message" *ngIf="isEmailSent && countdown!==0">
        Você poderá solicitar o reenvio do email em <span >{{countdown | minutesFormat}}</span>
    </p>
    <app-button-with-loading
        [text]="isEmailSent ? 'Reenviar email' : 'Enviar email'"
        [isDisabled]="!form.valid || isLoading || countdown!==0"
        [isLoading]="isLoading"
        (clicked)="sendRecoveryEmail()"
    />
    <a routerLink="/auth/register">Não possui conta?</a>
</app-frame>